<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Helmio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Helmio">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex min-h-screen">
      <aside class="w-64 bg-gray-900 text-white min-h-screen fixed left-0 top-0">
        <div class="p-6">
          <h1 class="text-2xl font-bold">Helmio</h1>
        </div>
        <nav class="mt-6">
          <%= link_to sites_path, class: "flex items-center px-6 py-3 hover:bg-gray-800#{(controller_name == "sites" && action_name == "index") ? " bg-gray-800" : ""}" do %>
            <span class="text-lg">Sites</span>
          <% end %>
        </nav>
      </aside>
      <main class="ml-64 container mx-auto mt-28 px-5 flex-1">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
